.search {
  margin-bottom: 10px;
  input {
    padding: 6px;
    font-size: 17px;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }

  button {
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background: #fb667a;
    }
  }
}
