.table {
  display: table;
  &-header {
    display: table-header-group;
    &__cell {
      display: table-cell;
      font-weight: bold;
      padding: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border: 1px solid #f5f5f1;
      }
    }
  }

  &-body {
    display: table-row-group;
    &__row {
      display: table-row;
      &:nth-of-type(even) {
        background: #323c50;
      }

      &:nth-of-type(odd) {
        background: #2c3446;
      }

      &:hover {
        background: #464a52;
      }

      &-cell {
        display: table-cell;
        font-weight: normal;
        border: 1px solid #1f2739;
        padding: 10px;

        &:first-child {
          color: #fb667a;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
